{
  "presets": [
    ["babel-preset-gatsby-package"],
    [
      "@babel/preset-typescript",
      {
        "targets": {
          "node": "current"
        },
        "modules": true
      }
    ]
  ]
}
